.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }

  .more {
    color: #357ae8;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    &:hover {
      color: #000000;
    }
  }
}
